{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}

        {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in form.errors.items() %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form-group">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="Enter your email") }}
        </div>
        
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder="Enter your password") }}
        </div>

        <button type="submit" class="submit_button">{{ form.submit.label.text }}</button>
        
        <a href="{{ url_for('signup') }}" class="book-button">Click here to register if you haven't</a>
        <a href="{{ url_for('forgot_password') }}" class="book-button">Forgot password</a>
    </form>
{% endblock %}

