{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}

        <h1>Register Here</h1>
        <form method="POST" action="{{ url_for('signup') }}">
            {{ form.hidden_tag() }}
    
            {% if form.errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for field, errors in form.errors.items() %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
    
            <div class="form-group">
                {{ form.firstname.label(class="form-label") }}
                {{ form.firstname(class="form-control", placeholder="Enter your firstname") }}
            </div>
    
            <div class="form-group">
                {{ form.lastname.label(class="form-label") }}
                {{ form.lastname(class="form-control", placeholder="Enter your lastname") }}
            </div>
    
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", placeholder="Enter your email") }}
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
    
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", placeholder="Enter your password") }}
            </div>
    
            <div class="form-group">
                {{ form.submit(class="btn btn-primary mt-3") }}
            </div>
        </form>

{% endblock %}